  <!-- Jqurey -->
  <script src="/javascripts/jquery.min.js"></script>

  <!-- bootstrap -->
  <script src="/javascripts/bootstrap.min.js"></script>

  <!-- material -->
  <script src="/javascripts/material.min.js"></script>
  <script src="/javascripts/ripples.min.js"></script>

  <script>
    $.material.init();
    // 下拉菜单
    //$( "#dropdown-menu select" ).dropdown();
    $('.dropdown-toggle').dropdown()
  </script>
</body>

</html>