<%- include('header') %>

<div class="container-fluid">
  <div class="row">
    <% goods.forEach(function(goods) { %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <%- include('components/goods-content', { goods: goods }) %>
      </div>
    <% }) %>
  </div>
</div>

<%- include('footer') %>